@using ProjektBibliotekaMVC.Utility;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibliotekaMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjektBibliotekaMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 header-custom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/logo.png" width="70" alt="Kliknij, aby pobrać obrazki" /><br>
                </a>
                <a class="navbar-brand white-text" asp-area="" asp-controller="Home" asp-action="Index">Biblioteka Dobrych Książek <br></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="BooksList">Przegląd Książek (User)</a>
                        </li>
                        @{if (User.Identity.IsAuthenticated) 
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="BorrowsHistory" asp-action="GetUserBorrows">Historia wypożyczeń</a>
                                </li>
                            }
                        }         
                        @{if (User.IsInRole(SD.RoleUserAdmin) || User.IsInRole(SD.RoleUserEmployee))
                        {
                            <div class="dropdown">
                                <button class="dropbtn">Admin panel</button>
                                <div class="dropdown-content">
                                        @{
                                            if (User.Identity.IsAuthenticated)
                                            {
                                                if (User.IsInRole(SD.RoleUserAdmin) || User.IsInRole(SD.RoleUserEmployee))
                                                {
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Przegląd Książek (Admin)</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="CustomersIndex">Klienci</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="WaitingBooks" asp-action="Index">Ksiazki oczekujace na odbior</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Borrows" asp-action="Index">Wypożyczenia</a>
                                                }
                                                if (User.IsInRole(SD.RoleUserAdmin))
                                                {
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="EmployeesIndex">Pracownicy</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Wiadomosci</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Limits" asp-action="Details">Limity</a>
                                                }
                                            }
                                        }
                                </div>
                            </div>
                            }
                        }
                    </ul>
                    <button class="btn custom-btn-cart ml-auto">
                        <img src="~/Images/books.png" width="25" alt="Kliknij, aby pobrać obrazki" />
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="BorrowedBooks">Wypożyczenia</a>
                    </button>
                    <button class="btn custom-btn-cart ml-auto">
                        <img src="~/Images/cart.png" width="25" alt="Kliknij, aby pobrać obrazki" />
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Cart">Koszyk</a>
                    </button>
                    <button class="btn custom-btn ml-auto">
                        <partial name="_LoginPartial" />
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - Biblioteka Dobrych Książek - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
