@model ProjektBibliotekaMVC.Models.Limit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Limit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InMagazineLimit" class="control-label"></label>
                <input asp-for="InMagazineLimit" class="form-control" />
                <span asp-validation-for="InMagazineLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaitingLimit" class="control-label"></label>
                <input asp-for="WaitingLimit" class="form-control" />
                <span asp-validation-for="WaitingLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
