@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w naszym serwisie!</h1>
    <h2>Aktualności:</h2>
    <div class="kontener">
        <div class="book-list">
            <div class="book">
                <h2>Premiera książki "Nad Niemnem" już w grudniu!</h2>
                <p>Bestseller Elizy Orzeszkowej bęzie dostępny w naszym serwisie już niedługo!</p>
            </div>
            <div class="book">
                <h2>Rabat 15% na wszystkie książki za polecenie nas znajomym!</h2>
                <p>Poleć nas znajomemu a uzyskasz jednorazowy rabat na wszystkie książki! Promocja trwa do końca roku.</p>
            </div>
            <div class="book">
                <h2>"Chłopi" Władysława Stanisława Reymonta już w sprzedaży!</h2>
                <p>Bestseller, który ostatnio otrzymał kinową adaptację, jest dostępny do nabycia na naszej stronie!</p>
            </div>
        </div>
    </div>
</div>
