@using ProjektBibliotekaMVC.Utility;
@model ProjektBibliotekaMVC.Utility.BookCopyInputModel

@{
    ViewData["Title"] = "Mass Delete";
}
<h1>Create</h1>

<h4>BookCopy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @ViewBag.BookTitle
            <input asp-for="Amount" class="form-control"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
        <h3>Title: @ViewBag.BookTitle</h3>
        <form asp-action="MassDelete">
            <input asp-for="IdBook" class="form-control" hidden/>
            <input asp-for="Amount" class="form-control"/>
                <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
